[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint-django = "*"
requests = "*"
psycopg2 = "*"
django = "*"
gunicorn = "*"
django-heroku = "*"
selenium = "*"
python-dotenv = "*"
flake8 = "*"
pytest = "*"
pytest-django = "*"

[dev-packages]

[requires]
python_version = "3.8"
