{% extends 'base.html' %}
{% load static %}

{% block addcss %}
    <link href="{% static 'users/style.css' %}" rel="stylesheet" />
{% endblock %}
{% block Header %}
    <div class="container-fluid searchealthy d-flex align-items-center justify-content-center aliments-bg">
        <div class="mt-5 px-5 py-3 rounded bubble text-primary">MES ALIMENTS ENREGISTRES</div>
    </div>
{% endblock %}
{% block Content %}
   {% if aliments_list %}
        <div class="container-fluid text-dark">
            <div class="row mt-2 pt-5 text-center">
                <div class="col text-secondary">Vos aliments favoris :</div>
            </div>
            <div class="row align-content-start justify-content-center third-screen">
            {% for aliment in aliments_list %}
                <div class="col-8 col-md-3 m-4 pt-3 text-center bg-light">
                    <div>
                        <img src="{{ aliment.image }}" class="img-healthy">
                        <div class="nutriscore rounded-circle">{{ aliment.nutrition_grade }}</div>
                    </div>
                    <a href="/info/{{ aliment.name }}">{{ aliment.name }}</a>
                </div>
            {% endfor %}
            </div>
        </div>    
    {% else %}
        <div class="container-fluid text-dark">
            <div class="mt-5 pt-5 text-center third-screen">
                <h4>Rien d'enregistré actuellement.</h4>
            </div>
        </div>
    {% endif %}
{% endblock %}