{% extends 'base.html' %}
{% load static %}

{% block addcss %}
    <link href="{% static 'users/style.css' %}" rel="stylesheet" />
{% endblock %}
{% block Header %}
    <div class="container-fluid searchealthy d-flex align-items-center justify-content-center profil-bg">
        <div class="mt-5 px-5 py-3 rounded bubble text-center text-primary"> MON PROFIL<br>--- {{ user.username }} ---</div>
    </div>
{% endblock %}
{% block Content %}
    <div class="d-flex profil align-items-center justify-content-center">
        <form action="/change_mail/" method="POST">
        {% csrf_token %}
            <input id="main-search-bar" class="form-control" type="text" name="new_email" placeholder="Nouveau Email">
            <input type="submit" class="btn btn-primary" value="Changer">
        </form>
    </div>
{% endblock %}