{% extends 'base.html' %}
{% load static %}

{% block addcss %}
    <link href="{% static 'users/style.css' %}" rel="stylesheet" />
{% endblock %}
{% block Header %}
    <div class="container-fluid searchealthy d-flex align-items-center justify-content-center profil-bg">
        <div class="mt-5 px-5 py-3 rounded bubble text-center text-primary"> MON PROFIL<br>--- {{ user.username }} ---</div>
    </div>
{% endblock %}
{% block Content %}
     <div class="container profil">   
    {% if error %}
        <div class="row border bg-primary p-2">
            <div class="col">{{ error }}</div>
        </div>
    {% endif %}
        <div class="row border mt-2 p-2">
            <div class="col align-self-center">
                EMAIL: {{ user.email }}
            </div>
            <div class="col-2 justify-content-end">
                <a href="/change_mail/" class="btn btn-primary">CHANGE EMAIL</a>
            </div>
        </div>
    </div>
{% endblock %}