{% extends "base.html" %}

    {% block Research_background %}
        <style>
            .search-bg {
                background-image: url("{{ background }}");
                background-size: 100% 100%
            }
        </style>
    {% endblock %}
    {% block Header %}
        <div class="container-fluid searchealthy d-flex align-items-center justify-content-center search-bg">
            <div class="mt-5 px-5 py-3 rounded bubble text-primary">{{ bubble }}</div>
        </div>
    {% endblock %}